@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&family=Roboto:wght@100;300;400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

strong{
    color: #B13531;
}

.form-control:focus {
    border-color: #B13531!important;  /* Cambia el color del borde al rojo en estado de enfoque */
    box-shadow: 0 0 0 0.2rem #B13531 !important; /* Cambia el color del resplandor (box shadow) al rojo en estado de enfoque */
}

.btn:active,
.btn:focus {
    border-color: #B13531!important; /* Cambia el color del borde al rojo en estado activo y en estado de enfoque */
    box-shadow: 0 0 0 0.2rem #B13531!important; /* Cambia el color del resplandor (box shadow) al rojo en estado activo y en estado de enfoque */
}

.bg-red{
    background-color: #B13531;
    border: 1px transparent;
}

.contenedor-texto{
    background-color: #B13531;
    border: 1px transparent;
    border-radius: 5px;
}

.bg-red:hover{
    background-color: white;
    color: #B13531;
    border: 1px solid #B13531;
}

.btn-primary:active{
    background-color: #B13531!important;
    border: 1px transparent;
}

.btn{
    bottom: 0!important;
}

#seccionCuadrado_texto{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
    color: aliceblue;
    padding: 1rem;
    text-align: center;
}

.contenedor-texto-bienvenida > p{
    font-size: 1.2rem;
}

.contenedor-camiseta{
    max-height: 500px;
}

.navbar-nav > a, #tituloNavBar, .precio{
    color: #B13531;
}

.card-title{
    font-size: 1.5rem;
    text-align: center;
}

.textoFooter{
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: 500;
}

.tituloFooter{
    font-size: 2rem;
    color: antiquewhite;
}

.listaFooter{
    list-style: none;
    padding: 0;
}

.descripcion_Titulo{
    font-size: 1.7rem;
}

.descripcion_Texto{
    font-size: 1.2rem;
}

#contactoNav{
    color: antiquewhite;
}

#contactoNav:hover{
    color: #B13531;
}

.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gridSection{
    width: 100%;
    min-height: 600px;
    display: grid;
    margin: auto;
    gap: 1rem;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gridSection > div{
    border-radius: 10px;
}

.contenedor-imagen-1{

    background-image: url(../img/riverLibertadores-500px.png);
    background-size: cover;

    background-position: center;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
}

.contenedor-imagen-2{

    background-image: url(../img/monumental-500x500.png);
    background-size: cover;

    background-position: center;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 5;
}

.contenedor-imagen-3{

    background-image: url(../img/monumental-corner-500x500.png);
    background-size: cover;

    background-position: center;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 5;
}

.contenedor-imagen-4{

    background-image: url(../img/riverLibertadores-500px-medallas.png);
    background-size: cover;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 5;
    grid-row-end: 7;
}

.contenedor_flex{
    background-color: #B13531;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen{
    margin: 2rem auto;
}

.contenedorTexto{
    margin: auto;
}

#imagenPortada{
    width: 100%;
    margin: 2% 0 2% 0;
}

.card{
    width: 100%!important;
    height: 100%;
}

.min-h-card{
    min-height: 500px;
}

.sombra{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-body{
    display: flex!important;
    flex-direction: column;
    justify-content: space-around;
}

.accordion-button:not(.collapsed){
    color: #B13531!important;
    background-color: #84202917!important;
}

.accordion-button:focus{
    box-shadow: 0 0 0 0.25rem #84202957!important;
}

/* Estilos personalizados para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Microsoft Edge y navegadores basados en Chromium */
* {
  scrollbar-color: #333 #f1f1f1;
  scrollbar-width: thin;
}

#checkTerminos:checked{
    background-color: #B13531!important;
    border-color: #B13531!important;
}

.logoRiver{
    max-width: 500px;
}

#inputComentario{
    min-height: 150px;
}

.form-control{
    background-color: rgba(0,0,0,0.02)!important;
}


@media screen and (min-width:792px) {
    .contenedor_flex{
        flex-direction: row;
    }

    .textoFooter{
        font-size: 2rem;
        font-weight: 500;
    }
    
    .tituloFooter{
        font-size: 2.5rem;
    }

    .card-title{
        text-align: left;
    }
}

@media screen and (min-width:900px) {
    .gridSection{
        gap: 1rem;
    
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    .contenedor-imagen-1{
    
        background-image: url(../img/riverLibertadores-500px.png);
        background-size: cover;
    
        background-position: center;
    
        grid-column-start: 1;
        grid-column-end: 3;
    
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .contenedor-imagen-2{
    
        background-image: url(../img/monumental-500x500.png);
        background-size: cover;
    
        background-position: center;
    
        grid-column-start: 3;
        grid-column-end: 4;
    
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .contenedor-imagen-3{
    
        background-image: url(../img/monumental-corner-500x500.png);
        background-size: cover;
    
        background-position: center;
    
        grid-column-start: 1;
        grid-column-end: 2;
    
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    .contenedor-imagen-4{
    
        background-image: url(../img/riverLibertadores-500px-medallas.png);
        background-size: cover;
    
        grid-column-start: 2;
        grid-column-end: 4;
    
        grid-row-start: 3;
        grid-row-end: 5;
    }

    #imagenPortada{
        width: 45%;
        margin: 0 5% 2.5% 0;
    }
}





